In [45]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [14]:
data = pd.read_csv('/Users/khin/.kaggle/data/train.csv')

In [43]:
data[~data.Cabin.isna()].groupby('Pclass').agg({'Survived':'sum', 'PassengerId':'count'}).assign(survived_percent = lambda x: x.Survived/x.PassengerId)

        Survived  PassengerId  survived_percent
Pclass
1            117          176          0.664773
2             13           16          0.812500
3              6           12          0.500000

In [50]:
data.groupby(['Pclass', 'Sex']).agg({'PassengerId': 'count', 'Survived':sum}).assign(survived_rate = lambda x: x.Survived / x.PassengerId)

               PassengerId  Survived  survived_rate
Pclass Sex
1      female           94        91       0.968085
       male            122        45       0.368852
2      female           76        70       0.921053
       male            108        17       0.157407
3      female          144        72       0.500000
       male            347        47       0.135447

In [57]:
(
    data
    .groupby(['Pclass', 'Sex'])
    .agg({'PassengerId': 'count', 'Survived':sum})
    .assign(survived_rate = lambda x: x.Survived / x.PassengerId)
)

               PassengerId  Survived  survived_rate
Pclass Sex
1      female           94        91       0.968085
       male            122        45       0.368852
2      female           76        70       0.921053
       male            108        17       0.157407
3      female          144        72       0.500000
       male            347        47       0.135447

In [42]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64